@import 'sweetalert2/dist/sweetalert2.min.css';

.full-width {
    width: 100%;
}
  
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.center {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swal2-container {
    font-family: monospace !important;
}